<section class="shortcut-section">
    <article class="shortcut-section-article">
        <a href="/dependencias/crear">
            <img src="/images/partials/accesosDirecto/compu1.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Dependencias</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/incidents/create">
            <img src="/images/partials/accesosDirecto/compu2.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Incidente</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/usuarios/crear">
            <img src="/images/partials/accesosDirecto/compu3.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Usuario</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/operadores/crear">
            <img src="/images/partials/accesosDirecto/compu4.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Operador</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/equipment/create">
            <img src="/images/partials/accesosDirecto/compu5.jpg" alt="acceso directo alta de dependencia">
            <p>Crear equipamiento</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/dependencias/listar">
            <img src="/images/partials/accesosDirecto/compu6.jpg" alt="acceso directo alta de dependencia">
            <p>Mostrar Dependencias</p>
        </a>
    </article>
    
</section>
