
<section class="footer_section">
    <article class="footer_section-article">
        <img src="/images/partials/footer/imagenJusticia.jpg" alt="imagen footer justicia">
    </article>
    <article class="footer_section-article"> 
        <div>
            <p>Maquinas 2024</p>
            <p>version 1.0.0</p>
            <p>Desarrollado por Cristian E. Villafañe</p>
        </div>
    </article>
    <article class="footer_section-article">
        <img src="/images/partials/footer/reparacionComputadoras.jpg" alt="imagen footer reparacion computadoras">
    </article>
</section>