<section>

        <article class="header_sectorSuperior">
            <div class="header_sectorSuperior-divLogo">
                <img src="/images/partials/header/logo.jpg" alt="">
            </div>

            <div class="header_sectorSuperior-iconoMenuYCopy">
                <div class="header_sectorSuperior-iconoMenu">
                    <i class="fa-solid fa-bars"></i>
                </div>
  
                <div class="header_sectorSuperior-divCopyCentral">
                    <p>CENTRO DE COMPUTOS</p>
                    <p>Edificio de Comodoro Py</p>
                </div>
            </div>

            <div class="header_sectorSuperior-divUsuarioLegueado">
                <div class="header_sectorSuperior-divUsuarioLegueado-avatarYusuario">
                    <figure>
                        <img  class="header_sectorSuperior-divUsuarioLegueado-avatar" src="/images/operadores/avatars/<%= locals.operadorLogueado.avatar %>" alt="avatar">
                    </figure>
                    <div>
                        <p> Hola, <%= locals.operadorLogueado.nombre %> <%= locals.operadorLogueado.apellido %> </p>
                        <a href="/operadores/perfil/<%= locals.operadorLogueado.id %>">Editar Informacion</a>
                    </div>
                </div>
                <form action="/logout" method="post">
                    <button>SALIR</button>
                </form>
                
            </div>
        </article>

        <article class="header_sectorInferior">

            <div class="header_sectorInferior-barraMenu">
                <nav>
                    <ul class="header_sectorInferior-barraMenu-menu">
                        <li>INCIDENTES</li>
                        <li>USUARIOS</li>
                        <li>DEPENDENCIAS</li>
                        <li>NETWORKING</li>
                        <li>GUIA TELEFÓNICA</li>
                    </ul>
                </nav>
            </div>

        </article>

    </section>

