<section>

        <article class="header_sectorSuperior">
            <div class="header_sectorSuperior-divLogo">
                <img src="/images/partials/header/logo.jpg" alt="">
            </div>

            <div class="header_sectorSuperior-iconoMenuYCopy">
                <div class="header_sectorSuperior-iconoMenu">
                    <i class="fa-solid fa-bars"></i>
                </div>
  
                <div class="header_sectorSuperior-divCopyCentral">
                    <p>CENTRO DE COMPUTOS</p>
                    <p>Edificio de Comodoro Py</p>
                </div>
            </div>

            <div class="header_sectorSuperior-divUsuarioLegueado">
                <p>Cristian Villafañe</p>
                <button>SALIR</button>
            </div>
        </article>

        <article class="header_sectorInferior">

            <div class="header_sectorInferior-barraMenu">
                <nav>
                    <ul class="header_sectorInferior-barraMenu-menu">
                        <li>INCIDENTES</li>
                        <li>USUARIOS</li>
                        <li>DEPENDENCIAS</li>
                        <li>NETWORKING</li>
                        <li>GUIA TELEFÓNICA</li>
                    </ul>
                </nav>
            </div>

        </article>

    </section>

